
body{
	background-color:#f8f8f8;
}
h1{
	text-align:center;
}
.book-library{
	background-color:#ffffff;
	height:10px;
}
.book p:first-child{
	color:#777777;
}
.book p:last-child{
	background-color:#2ecc71;
}
